
.goneDay{background-color:rgba(255,60,65,.21176)
}
.today{-moz-border-radius:50%;-webkit-border-radius:50%;background:rgba(255,251,0,.7098);border-radius:50%;height:40px;width:40px
}
#runner-top>*{border-radius:16px;margin:10px auto;padding:2px;width:100%
}
.c-calender{-webkit-box-sizing:border-box;background-color:#fff;box-sizing:border-box;font-size:1em;width:100%
}
.calendar{height:250px;width:100%
}
.c-calender__heading{display:-webkit-box;display:-ms-flexbox;display:flex;height:26px;line-height:26px;margin-bottom:8px;text-align:center;width:100%
}
.c-calender__current{-ms-flex-preferred-size:60%;flex-basis:60%
}
.c-calender__next,.c-calender__prev{-ms-flex-preferred-size:20%;background:#eee;border-radius:8px;display:block;flex-basis:20%;text-decoration:none
}
td:first-child{color:#ff9c78
}
td:last-child{color:#56a1ff
}
th:first-child{color:#ff9c78
}
th:last-child{color:#56a1ff
}
.glay{color:hsla(0,0%,43.5%,.7098)
}

*{-webkit-box-shadow:none;-webkit-tap-highlight-color:rgba(0,0,0,0);box-shadow:none;outline:none
}
.btn-push{-webkit-box-shadow:0 2px 2px rgba(0,0,0,.29);background-color:#ffad36;border-bottom:2px solid #d37800;border-radius:4px;box-shadow:0 2px 2px rgba(0,0,0,.29);color:#fff;display:inline-block;font-size:16px;font-weight:700;max-width:180px;padding:10px 24px;text-align:left;text-decoration:none
}
.btn-push:active{-webkit-box-shadow:0 0 1px rgba(0,0,0,.15);-webkit-transform:translateY(2px);background-color:#ffa300;border-bottom:none;box-shadow:0 0 1px rgba(0,0,0,.15);transform:translateY(2px)
}
.btn-circle-3d{-webkit-box-shadow:0 2px 2px rgba(0,0,0,.29);-webkit-transition:.4s;background:#ff8181;border-bottom:1px solid #bd6565;border-radius:50%;box-shadow:0 2px 2px rgba(0,0,0,.29);color:#fff;display:inline-block;font-weight:700;height:20px;line-height:20px;overflow:hidden;text-align:center;text-decoration:none;transition:.4s;width:20px
}
.btn-circle-3d:active{-webkit-box-shadow:0 0 1px rgba(0,0,0,.15);-webkit-transform:translateY(2px);border-bottom:none;box-shadow:0 0 1px rgba(0,0,0,.15);transform:translateY(2px)
}
table{width:90%
}
p{color:#363636
}
.calender{text-align:center
}
td.td-button{height:20px;padding-bottom:10px
}
.todayCount{font-size:2.5em
}
.count{font-size:1.7em
}
.header{margin-bottom:5px;text-align:center
}
#Memo{height:200px;width:300px
}
